.diceDrawer{
        background-color: lightgrey;
}

.dice{
        display: inline-block;
        margin: 5px;
        background-color: grey;
        color: white;
        padding: 5px;
}

.dice.selected {
        color: darkred;
}
